h3 {
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    background: rosybrown;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.link-redes {
    text-align: center;
    padding: 5px;
}